{% extends 'base/index.html' %}

{% load i18n %}
{% load bootstrap4 %}


{% block head_title %}{{ block.super }} - {% trans "Change Password" %}{% endblock %}

{% block content %}
<main role="main" class="container">

<div class="d-flex justify-content-center">
  <div class="col-5">
    <h1>{% trans "Change Password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        {% endbuttons %}
    </form>
  </div>
</div>

</main>
{% endblock %}
