{% extends 'base/index.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load avatar_tags %}

{% block head_title %}{{ block.super }} - {% trans "Change avatar" %}{% endblock %}

{% block content %}
<main role="main" class="container">

<div class="d-flex justify-content-center">
  <div class="col-8">

    <p>{% trans "Your current avatar: " %}</p>
    {% avatar user %}
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% else %}
        <form method="POST" action="{% url 'avatar_change' %}">
            {% csrf_token %}
            {% bootstrap_form primary_avatar_form %}
            {% buttons %}
            <input class="btn btn-primary" type="submit" value="{% trans "Choose new Default" %}" /></p>
            {% endbuttons %}
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {% csrf_token %}
        {% bootstrap_form upload_avatar_form %}
        {% buttons %}
        <input class="btn btn-primary" type="submit" value="{% trans "Upload New Image" %}" /></p>
        {% endbuttons %}
    </form>
  </div>
</div>

</main>
{% endblock %}
