{% extends 'base/index.html' %}

{% load i18n %}
{% load bootstrap4 %}


{% block head_title %}{{ block.super }} - {% trans 'Confirm delete' %}{% endblock %}

{% block content %}
<main role="main" class="container">

<div class="d-flex justify-content-center">
  <div class="col-4">
    <p>{% trans "Please select the avatars that you would like to delete." %}</p>
    {% if not avatars %}
        {% url 'avatar_change' as avatar_change_url %}
        <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{% url 'avatar_delete' %}">
            <ul>
                {% bootstrap_form delete_avatar_form %}
            </ul>
            <p>{% csrf_token %}<input type="submit" value="{% trans "Delete These" %}" /></p>
        </form>
    {% endif %}
  </div>
</div>

</main>
{% endblock %}
